# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env*/
.virtualenv/

# Audio files (large / local)
audio/

# Generated outputs
output/


# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
